body {
  background-color: #f9f9f9;
}

/*********************************** Iconos ***********************************/

.iconoReverso {
  transform: rotate(180deg);
}

/*********************************** HEADER ***********************************/
header ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
header {
  background-color: #ffffff;
}

header img {
  height: 30px;
  width: 24px;
}

header .icono {
  height: 30px;
  width: 24px;
}

/*********************************** MAIN ***********************************/

.contenedorBasico {
  background-color: #ffffff;
}

/*********************************** Grafica ***********************************/
.grafica {
  height: 362px;
}

.grafica .icono {
  height: 30px;
  width: 24px;
}
.textoPrincipal {
  font-weight: 600;
  font-size: 1.7rem;
}

.textoSecundario {
  font-weight: 600;
  font-size: 1rem;
  color: #a8a8a8;
}

.textoBeneficio {
  font-weight: 600;
  font-size: 1.3rem;
  color: #96bf79;
}

.textoPerdida {
  font-weight: 600;
  font-size: 1.3rem;
  color: lightcoral;
}

.lista {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.boton {
  border: 3px solid;
  border-collapse: collapse;
  border-color: #f7f7f7;
  background-color: #ffffff;
  color: #a8a8a8;
}

.botonActivo,
.boton:hover {
  background-color: #eff3fe;
  border: 3px solid;
  border-collapse: collapse;
  border-color: #8ca0e2;
  color: #8ca0e2;
  font-weight: 700;
}

/*********************************** Transacciones ***********************************/

article .transaccion {
  background-color: #ffffff;
}
.movimientos article .fecha {
  font-weight: 700;
  color: #a8a8a8;
}
.estadoTransaccion {
  font-weight: 700;
}

.momentoTransaccion {
  color: #a8a8a8;
  font-weight: 600;
}

.beneficio {
  color: #96bf79;
}

.envio {
  color: lightcoral;
}

.iconoBotonGrande {
  height: 30px;
  width: auto;
}

.iconoMovimiento {
  height: 46px;
  width: auto;
}
